[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
requests = "*"
instagrapi = "*"
gtts = "*"
pillow = "*"
moviepy = "*"
azure-cognitiveservices-vision-computervision = "*"
validators = "*"

[dev-packages]

[requires]
